# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# Ai NorX - Frontend Environment Variables
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

# ━━━ Application ━━━
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8000

# ━━━ Clerk ━━━
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bGFyZ2UtZ3JpZmZvbi05OS5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_riJ3sacRYDlXJlKFrf9ydWKV9BHg5398cGYoAsEvuc

# ━━━ Sentry ━━━
SENTRY_DSN=https://06b2b84f9440047ddf08056bc8c96c0b@o4511606894231552.ingest.de.sentry.io/4511606898360400
NEXT_PUBLIC_SENTRY_DSN=https://06b2b84f9440047ddf08056bc8c96c0b@o4511606894231552.ingest.de.sentry.io/4511606898360400
